<section class="p-t-30 section-grey">
    <div class="container footer-links">
        <div class="p-t-20 p-b-20 text-left">Copyright ©
            2018 file income tax india. All rights reserved.</div>
    </div>

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="245957879340635"
         theme_color="#0084ff"
         logged_in_greeting="We will help you get maximum returns in your ITR unlike cleartax. Start Chat."
         logged_out_greeting="We will help you get maximum returns in your ITR unlike cleartax. Start Chat.">
    </div>
</section>