<header class="bgm-white clearfix" id=header>
    <!--[if lt IE 9]>
    <div class="ie-warning ">
        <img src="/c/images/fileIncomeTaxLogo.png" alt="fileIncomeTaxOnline" height="80px">
        <h1>Warning!!</h1>
        <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
        <div class="iew-container ">
            <ul class="iew-download ">
                <li>
                    <a href="http://www.google.com/chrome/ ">
                        <img src="/c/images/browsers/chrome.png " alt="Chorme">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/ ">
                        <img src="/c/images/browsers/firefox.png" alt="Firefox">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com ">
                        <img src="/c/images/browsers/opera.png" alt="Opera">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/ ">
                        <img src="/c/images/browsers/safari.png" alt="Safari">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie ">
                        <img src="/c/images/browsers/ie.png" alt="Internet Explore">
                        <div>IE (New)</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>Sorry for the inconvenience!</p>
    </div>
    <![endif]-->
    <ul class=header-inner>
        <li class="p-0 logo m-l-20">
            <a href="/" class="p-0 pull-left">
                <img alt="fileIncomeTaxOnline" title="fileIncomeTaxOnline" src="/c/images/fileIncomeTaxLogo.png" height=45px;>>
            </a>
        </li>
        <li class=pull-right>
            <ul class="top-menu top-menu-white">
                <li class="dropdown m-t-5">
                    <a href="/pricing">
                        <button class="btn btn-link c-bluegray waves-effect btn-capitalize f-300">Pricing</button>
                    </a>
                </li>
                <li class="dropdown m-t-5">
                    <a href="<%= messenger %>" target="_blank">
                        <button class="btn btn-link c-bluegray f-300 waves-effect btn-capitalize">Chat</button>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <style>
        img {
            border: 0
        }

        body {
            margin: 0
        }

        html {
            font-family: sans-serif;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%
        }

        header,
        section {
            display: block
        }

        a {
            background-color: transparent
        }

        h1 {
            margin: .67em 0
        }

        img {
            vertical-align: middle
        }

        button,
        input {
            color: inherit;
            font: inherit;
            margin: 0
        }

        button {
            overflow: visible
        }

        button {
            text-transform: none
        }

        button {
            -webkit-appearance: button
        }

        button::-moz-focus-inner,
        input::-moz-focus-inner {
            border: 0;
            padding: 0
        }

        .btn,
        .form-control {
            background-image: none
        }

        *,
        :after,
        :before {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box
        }

        html {
            font-size: 10px
        }

        body {
            font-family: roboto;
            font-size: 13px;
            line-height: 1.42857143;
            color: #5e5e5e;
            background-color: #edecec
        }

        button,
        input {
            font-family: inherit;
            font-size: inherit;
            line-height: inherit
        }

        a {
            color: #2196f3;
            text-decoration: none
        }

        h1 {
            font-family: inherit;
            font-weight: 500;
            line-height: 1.1;
            color: #000
        }

        h1 {
            margin-top: 18px;
            margin-bottom: 9px
        }

        h1 {
            font-size: 33px
        }

        p {
            margin: 0 0 9px
        }

        .lead {
            margin-bottom: 18px;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.4
        }

        @media (min-width:768px) {
            .lead {
                font-size: 19.5px
            }
        }

        .text-center {
            text-align: center
        }

        ul {
            margin-top: 0
        }

        ul ul {
            margin-bottom: 0
        }

        ul {
            margin-bottom: 9px
        }

        @media (min-width:768px) {
            .container {
                width: 100%
            }
        }

        .clearfix:after,
        .container:after,
        .row:after {
            clear: both
        }

        .container {
            margin-right: auto;
            margin-left: auto
        }

        .container {
            padding-left: 15px;
            padding-right: 15px
        }

        @media (min-width:992px) {
            .container {
                width: 100%
            }
        }

        @media (min-width:1200px) {
            .container {
                width: 1170px
            }
        }

        .row {
            margin-left: -15px;
            margin-right: -15px
        }

        .col-md-12,
        .col-sm-6 {
            position: relative;
            min-height: 1px;
            padding-left: 15px;
            padding-right: 15px
        }

        @media (min-width:768px) {
            .col-sm-6 {
                float: left
            }
            .col-sm-6 {
                width: 50%
            }
        }

        @media (min-width:992px) {
            .col-md-12 {
                float: left
            }
            .col-md-12 {
                width: 100%
            }
        }

        .btn {
            vertical-align: middle
        }

        .form-control {
            font-size: 13px;
            line-height: 1.42857143;
            color: #000;
            display: block
        }

        .form-control {
            width: 100%;
            height: 35px;
            padding: 6px 12px;
            background-color: #fff;
            border: 1px solid #e0e0e0;
            border-radius: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
        }

        .form-control::-moz-placeholder {
            color: #999;
            opacity: 1
        }

        .form-control:-ms-input-placeholder {
            color: #999
        }

        .form-control::-webkit-input-placeholder {
            color: #999
        }

        .form-control::-ms-expand {
            border: 0;
            background-color: transparent
        }

        .input-sm {
            padding: 5px 10px;
            border-radius: 2px;
            font-size: 12px
        }

        .input-sm {
            height: 30px;
            line-height: 1.5
        }

        .dropdown {
            position: relative
        }

        .btn {
            display: inline-block;
            margin-bottom: 0;
            font-weight: 400;
            text-align: center;
            touch-action: manipulation;
            white-space: nowrap;
            padding: 6px 12px;
            font-size: 13px;
            line-height: 1.42857143;
            border-radius: 2px;
            -webkit-touch-callout: none
        }

        .btn-success {
            color: #fff;
            background-color: #4caf50;
            border-color: #449d48
        }

        .btn-link {
            font-weight: 400
        }

        .btn-link {
            background-color: transparent;
            -webkit-box-shadow: none;
            box-shadow: none
        }

        .btn-link {
            border-color: transparent
        }

        .btn-lg {
            padding: 10px 16px;
            font-size: 17px;
            line-height: 1.3333333;
            border-radius: 2px
        }

        .btn-sm {
            padding: 5px 10px;
            font-size: 12px;
            line-height: 1.5;
            border-radius: 2px
        }

        .btn,
        .logo a {
            text-transform: uppercase
        }

        .clearfix:after,
        .clearfix:before,
        .container:after,
        .container:before,
        .row:after,
        .row:before {
            content: " ";
            display: table
        }

        .pull-right {
            float: right!important
        }

        .pull-left {
            float: left!important
        }

        @-ms-viewport {
            width: device-width
        }

        @font-face {
            font-family: roboto;
            src: url(css/fonts/Roboto-Regular-webfont.eot);
            src: url(css/fonts/Roboto-Regular-webfontd41d.eot?#iefix) format('embedded-opentype '), url(css/fonts/Roboto-Regular-webfont.html) format('woff '), url(css/fonts/Roboto-Regular-webfont.ttf) format('truetype '), url(css/fonts/Roboto-Regular-webfont-2.html#icon) format('svg ');
            font-weight: 400;
            font-style: normal
        }

        @font-face {
            font-family: roboto;
            src: url(css/fonts/Roboto-Regular-webfont.eot);
            src: url(css/fonts/Roboto-Regular-webfontd41d.eot?#iefix) format('embedded-opentype '), url(css/fonts/Roboto-Regular-webfont.html) format('woff '), url(css/fonts/Roboto-Regular-webfont.ttf) format('truetype '), url(css/fonts/Roboto-Regular-webfont-2.html#icon) format('svg ');
            font-weight: 500;
            font-style: normal
        }

        @font-face {
            font-family: roboto;
            src: url(css/fonts/RobotoCondensed-Light.eot);
            src: url(css/fonts/RobotoCondensed-Lightd41d.eot?#iefix) format('embedded-opentype '), url(css/fonts/RobotoCondensed-Light.html) format('woff '), url(css/fonts/RobotoCondensed-Light.ttf) format('truetype '), url(css/fonts/RobotoCondensed-Light-2.html#icon) format('svg ');
            font-weight: 300;
            font-style: normal
        }

        @font-face {
            font-family: roboto;
            src: url(css/fonts/Roboto-Bold-webfont.eot);
            src: url(css/fonts/Roboto-Bold-webfontd41d.eot?#iefix) format('embedded-opentype '), url(css/fonts/Roboto-Bold-webfont.html) format('woff '), url(css/fonts/Roboto-Bold-webfont.ttf) format('truetype '), url(css/fonts/Roboto-Bold-webfont-2.html#icon) format('svg ');
            font-weight: 700;
            font-style: normal
        }

        .waves-effect {
            position: relative;
            display: inline-block;
            overflow: hidden
        }

        #header {
            -webkit-touch-callout: none
        }

        #header {
            box-shadow: 0 1px 4px rgba(0, 0, 0, .3)
        }

        .m-0 {
            margin: 0!important
        }

        .m-b-0 {
            margin-bottom: 0!important
        }

        .m-l-0 {
            margin-left: 0!important
        }

        .m-r-0 {
            margin-right: 0!important
        }

        .m-t-5 {
            margin-top: 5px!important
        }

        .m-t-10 {
            margin-top: 10px!important
        }

        .m-l-20 {
            margin-left: 20px!important
        }

        .m-r-20 {
            margin-right: 20px!important
        }

        .m-t-30 {
            margin-top: 30px!important
        }

        .p-0 {
            padding: 0!important
        }

        .p-b-0 {
            padding-bottom: 0!important
        }

        .p-r-0 {
            padding-right: 0!important
        }

        .p-t-20 {
            padding-top: 20px!important
        }

        .l-h-60 {
            line-height: 60px!important
        }

        .p-b-20 {
            padding-bottom: 20px!important
        }

        .p-t-30 {
            padding-top: 30px!important
        }

        .p-b-30 {
            padding-bottom: 30px!important
        }

        .f-12 {
            font-size: 12px!important
        }

        .f-20 {
            font-size: 20px!important
        }

        .f-300 {
            font-weight: 300!important
        }

        .f-400 {
            font-weight: 400!important
        }

        body {
            font-weight: 400
        }

        #main,
        .header-inner,
        body {
            position: relative
        }

        .bgm-white {
            background-color: #fff!important
        }

        .c-blue {
            color: #2196f3!important
        }

        .bgm-indigo {
            background-color: #3f51b5!important
        }

        *,
        a,
        button,
        i,
        input {
            -webkit-font-smoothing: antialiased
        }

        *,
        :active,
        :hover {
            outline: 0!important
        }

        html {
            overflow-x: hidden;
            -ms-overflow-style: none
        }

        body,
        html {
            min-height: 100vh
        }

        p {
            margin-bottom: 20px
        }

        #main {
            padding-bottom: 110px;
            padding-top: 100px
        }

        .header-inner {
            list-style: none;
            padding: 17px 0;
            margin-bottom: 0
        }

        .top-menu {
            padding: 0
        }

        .header-inner>li:not(.pull-right) {
            float: left
        }

        .header-inner>li:not(:last-child) {
            margin-right: -2px
        }

        .logo a {
            color: #fff;
            display: block;
            font-size: 16px
        }

        .top-menu {
            list-style: none
        }

        .top-menu>li {
            display: inline-block;
            margin: 0 1px;
            vertical-align: top;
            min-width: 50px
        }

        @media (max-width:767px) {
            .top-menu>li {
                position: static!important
            }
        }

        @media (min-width:768px) {
            .top-menu>li: not(#toggle-width) {
            position: relative
        }
            .top-menu>li:not(#toggle-width):before {
                left: 0;
                top: 0;
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-transform: scale3d(0, 0, 0);
                -moz-transform: scale3d(0, 0, 0);
                -ms-transform: scale3d(0, 0, 0);
                -o-transform: scale3d(0, 0, 0);
                transform: scale3d(0, 0, 0);
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                backface-visibility: hidden;
                background-color: rgba(0, 0, 0, .12);
                z-index: 0;
                border-radius: 2px;
                opacity: 0;
                filter: alpha(opacity=0)
            }
        }

        .top-menu>li>a {
            color: #fff;
            display: block;
            text-align: center;
            z-index: 1;
            position: relative
        }

        .top-menu>li>a>.tm-icon {
            font-size: 24px;
            line-height: 36px
        }

        .tsw-inner {
            position: relative
        }

        @media (max-width:767px) {
            #top-search-wrap #top-search-close {
                right: 7px
            }
        }

        #header {
            min-height: 70px;
            position: fixed;
            z-index: 11;
            width: 100%;
            left: 0;
            top: 0;
            padding: 0 11px
        }

        #header .logo a {
            padding: 7px 10px
        }

        #top-search-wrap {
            position: absolute;
            top: -65px;
            left: 0;
            width: 100%;
            height: 70px;
            background: #fff;
            opacity: 0;
            filter: alpha(opacity=0);
            z-index: 10
        }

        #top-search-wrap input[type=text] {
            border: 0;
            height: 40px;
            padding: 0 10px 0 55px;
            font-size: 18px;
            border-radius: 2px;
            background-color: #efefef;
            width: 100%
        }

        #top-search-wrap #top-search-close {
            position: absolute;
            top: 15px;
            font-size: 23px;
            font-style: normal;
            width: 45px;
            text-align: center;
            border-radius: 2px 0 0 2px;
            left: 15px;
            height: 40px;
            padding-top: 9px
        }

        .tsw-inner {
            padding: 15px;
            max-width: 700px;
            display: block;
            margin: 0 auto
        }

        .card {
            box-shadow: 0 1px 1px rgba(0, 0, 0, .15)
        }

        .card {
            position: relative
        }

        .card {
            background: #fff;
            margin-bottom: 30px
        }

        .btn-link {
            text-decoration: none
        }

        .btn {
            border: 0
        }

        .btn[class*=bgm-]:not(.bgm-white) {
            color: #fff
        }

        .btn:not(.btn-link) {
            box-shadow: 0 2px 5px rgba(0, 0, 0, .16), 0 2px 10px rgba(0, 0, 0, .12)
        }

        .form-control {
            box-shadow: none!important
        }

        .btn-link {
            color: #797979;
            border-radius: 2px
        }

        .form-control {
            resize: none
        }

        .form-control:not(.fc-alt) {
            border-left: 0;
            border-right: 0;
            border-top: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 0
        }

        .leader-text {
            font-weight: 200
        }

        .section-grey {
            background-color: #fbfafb
        }

        .hero-text {
            font-size: 50px!important
        }

        .leader-text {
            color: #777;
            line-height: 1.2;
            font-size: 3.2em
        }

        .p-t-70 {
            padding-top: 70px!important
        }

        .p-t-10 {
            padding-top: 10px!important
        }

        .text-transform-none {
            text-transform: none!important
        }

        .no-bg {
            background: 0 0
        }

        .text-center {
            text-align: center
        }

        .form-control {
            font-size: 16px!important
        }

        .c-333 {
            color: #333!important
        }

        #main {
            padding-top: 70px!important
        }

        .card {
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26)!important
        }

        @media only screen and (max-width:559px) {
            .btn-2-position {
                margin-top: 20px!important
            }
        }

        @media only screen and (min-width:560px) and (max-width:799px) {
            .btn-2-position {
                float: left
            }
            .btn-1-position {
                float: right
            }
        }

        @media only screen and (min-width:800px) and (max-width:1239px) {
            .btn-2-position {
                float: left
            }
            .btn-1-position {
                float: right
            }
        }

        @media only screen and (min-width:1240px) {
            .btn-2-position {
                float: left
            }
            .btn-1-position {
                float: right
            }
        }

        .no-shadow {
            box-shadow: none!important
        }

        body {
            font-size: 14px!important
        }

        input {
            padding-right: 10px!important
        }

        .color_2 {
            color: #3949AB!important
        }

        .p-b-70 {
            padding-bottom: 70px!important
        }

        #myit_video {
            width: 100%;
            height: 100%;
            min-height: 350px
        }

        span.active {
            color: #4caf50
        }

        .min-h-70px {
            min-height: 70px
        }
        .h-41px {
            height: 41px
        }
    </style>
</header>